
body{
  /* background-color: #f7df1e !important; */
}

body .bg-dark {
    background-color: #000000 !important;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0,75);
}

.myjumbotron {
  background-image: url(https://cdn.pixabay.com/photo/2017/11/06/21/11/paint-2924891_1280.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50px;
  font-weight: bold;
  margin-top: 100px;
  padding: 100px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px black;
}

.myjumbotron h1, p {
  background-color: #ffffff73;
  padding: 50px;
}

.carouselContainer{
height: 10%;
width: 50%;
}